name: Mirroring
on:
  push:
    branches-ignore:
      - main
  pull_request:
    types: [closed]
    branches:
      - main

env:
  MIRROR_URL:
    git@github.com:EpitechPromo2027/B-OOP-400-REN-4-1-arcade-arthur.doriel.git
  BINARIES:
    arcade

jobs:
  check_compilation:
    runs-on: ubuntu-latest
    container: epitechcontent/epitest-docker:latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check compilation
        run: |
          make && make clean && make fclean && make re
      - name: Check binary
        run: |
          if [ ! -f ${{ env.BINARIES }} ]; then
            echo "Binary not found"
            exit 1
          fi

      - name: Upload binaries
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.BINARIES }}
          path: ${{ env.BINARIES }}

  crate_realease:
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'
    runs-on: ubuntu-latest
    needs: check_compilation
    container: epitechcontent/epitest-docker:latest
    steps:
      - uses: actions/checkout@v3

      - name: Download binaries
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.BINARIES }}

      - name: get previous tag
        id: get_previous_tag
        run: |
          git fetch --tags
          tag=$(git describe --tags `git rev-list --tags --max-count=1`)
          major=$(echo $tag | cut -d. -f1 | cut -dv -f2)
          new_major=$((major+1))
          tag="v$new_major.0.0"
          echo "::set-output name=tag::$tag"

      - name: Release pushed tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.get_previous_tag.outputs.tag }}
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="${GITHUB_REPOSITORY#*/} ${tag#v}" \
              --generate-notes
          
          gh release upload "$tag" ./${{ env.BINARIES }}



  push_to_mirror:
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'
    needs: crate_release
    runs-on: ubuntu-latest
    container: epitechcontent/epitest-docker:latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check branch
        run: |
          if [ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]; then
            echo "Not on main branch, skipping..."
          else
            echo "On main branch, continuing..."
          fi
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            ${{ env.MIRROR_URL }}
          ssh_private_key:
            ${{ secrets.GIT_SSH_PRIVATE_KEY }}
